<div class="hero_img">
	<div class="login">
		<p class="welcome">songgen</p>
		<p class="motto">revolutionary way to explore music</p>
		<img class="login_button" src="img/login.png" onclick='location.href="https://still-inlet-8239.herokuapp.com/login"'/>
	</div>
</div>
