<div class="hero_img">
	<div class="login">
		<p class="welcome">songgen</p>
		<p class="motto">convert words to music: </p>
		<form action='/generateAndRedirect'>
			<input required class="query_input" type="text" placeholder="keywords..." name="words">
			<input class="query_submit" type='submit' value='explore'/>
		</form>
	</div>
</div>
