<div class="hero_img">
	<div class="login">
		<form action="http://localhost:3000/build-playlist/with-images" method="post" enctype="multipart/form-data">
		      <input type="file" name="images_file" accept=".zip"/>
		    	<input type="text" name="user_id" placeholder="UserID"\>
					<input type="text" name="access_token" placeholder="Access Token"\>
		      <input type="submit" value="Submit" name="submit"\>
		</form>
	</div>
</div>



<!-- <form action="http://localhost:3000/build-playlist/with-words" method="post" enctype="multipart/form-data">
      <input type="text" name="words"/>
    	<input type="text" name="user_id" placeholder="UserID"\>
			<input type="text" name="access_token" placeholder="Access Token"\>
      <input type="submit" value="Submit" name="submit"\>
</form> -->
